{% extends "base.html" %}
{% block title %}Attendance {% endblock %}
{% block page_content %}
<div class="container" style="text-align:center">
    <h1>学生个人信息</h1>
    <br>
    <p>学号：{{ student['stu_id'] }}</p>
    <p>姓名：{{ student['stu_name'] }}</p>
    <br>
    <a href="{{ url_for('student.join_course') }}" style="color:#000000; text-decoration:none;">
        <button type="button" class="btn btn-default">选课</button>
    </a>
    &emsp;
    <a href="{{ url_for('student.list_check_in_record') }}" style="color:#000000;">
        <button type="button" class="btn btn-default">签到记录</button>
    </a>
    <table class="table table-hover">
        <caption>已选课程</caption>
        <thead>
        <tr>
            <th>课程号</th>
            <th>课程名</th>
            <th>教师</th>
            <th>退课</th>
        </tr>
        </thead>
        <tbody align="left">
        {% for course in course_list %}
        <tr>
            <td>{{ course['course_id'] }}</td>
            <td>{{ course['course_name'] }}</td>
            <td>{{ course['teacher_name'] }}</td>
            <td><a style="color:#000000;">
                <button type="button" class="btn btn-default btn-xs"
                        onclick="quit_course({{ course['course_id'] }})">退课
                </button>
            </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
        function quit_course(course_id) {
            jQuery.ajax({
                url: '/student/quit_course',
                dataType: "json",
                data: JSON.stringify({
                    "course_id": course_id,
                }),
                cache: false,
                contentType: "application/json",
                processData: false,
                method: 'POST',
                type: 'POST', // For jQuery < 1.9
                success: function (data) {
                    if (data.result == 'ok') {
                        window.location.reload()
                    }
                }
            });
        }

</script>
{% endblock %}