alembic==1.4.2
asgiref==3.2.7
click==7.1.2
colorama==0.4.3
config==0.5.0.post0
datepickerwidget==0.2
Django==3.0.6
django-bootstrap3-datetimepicker-3==2.6.0
dominate==2.5.1
Flask==1.1.2
Flask-Admin==1.5.6
Flask-Bootstrap==3.3.7.1
Flask-Datepicker==0.12
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
image==1.5.32
itsdangerous==1.1.0
Jinja2==2.11.2
Mako==1.1.2
MarkupSafe==1.1.1
MyApplication==0.1.0
mysqlclient==1.4.6
Pillow==7.1.2
pyasn1==0.4.8
PyMySQL==0.9.3
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.1
qrcode==6.1
rsa==4.0
selenium==3.141.0
six==1.14.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
static-parameters==0.4
urllib3==1.25.9
visitor==0.1.3
Werkzeug==1.0.1
WTForms==2.3.1
